In [3]:
import pandas as pd

In [4]:
initial_data = pd.read_excel('data/initial_data.xlsx')

In [5]:
initial_data

,Unnamed: 0,ADDRESS,CITY,REGION,Postamat_daily,cashbox_daily,Postamat_trend,cashbox_MAX,cashbox_trend,hh_500,value1,value2,POPULATION,NEAR_Malls,NEAR_Business_centers,NEAR_metro_rjd,NEAR_Stations,macro_salary_avg_yearly
0,0,"г.Калуга, Литейная ул., 25/15",КАЛУГА,Калужская область,NaN,3.3,NaN,13.0,1.0,7696.0,10099,3382,324698,0,0,NaN,остановка,423321
1,1,"г.Калуга, Гагарина ул., 1",КАЛУГА,Калужская область,NaN,NaN,NaN,NaN,NaN,6369.0,10068,3236,324698,1,1,NaN,остановка,423321
2,2,"г.Калуга, Кибальчича ул., 25",КАЛУГА,Калужская область,NaN,3.1,NaN,12.0,1.0,5553.0,10100,3436,324698,1,0,NaN,NaN,423321
3,3,"г.Калуга, Пестеля ул., 60/49",КАЛУГА,Калужская область,3.0,2.2,0.0,12.0,1.0,7162.0,10099,3257,324698,0,0,NaN,NaN,423321
4,4,"г.Калуга, Ленина ул., 81",КАЛУГА,Калужская область,1.0,2.0,0.0,9.0,1.0,6269.0,10096,3195,324698,1,0,NaN,остановка,423321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,412,д.Чернятино86А,Чернятино,Тульская область,NaN,NaN,NaN,NaN,NaN,348.0,9939,2557,1234,0,0,NaN,NaN,387679
413,413,"п.Дубовка, квартал 5/15, Центральный перс.6",ДУБОВКА ПОСЁЛОК,Тульская область,NaN,NaN,NaN,NaN,NaN,355.0,9930,2550,8942,0,0,NaN,остановка,387679
414,414,"г.Донской, мкр.Северо-Задонск, Мичурина ул, 76...",Северо-Задонск,Тульская область,NaN,NaN,NaN,NaN,NaN,283.0,9930,2533,500,0,0,NaN,NaN,387679
415,415,"с.Гремячее, Новики ул., 12",Гремячее,Тульская область,NaN,NaN,NaN,NaN,NaN,139.0,9944,2421,1337,0,0,NaN,NaN,387679
416,417,"с.Коллонтай, Московская ул, 23",Коллонтай,Калужская область,NaN,NaN,NaN,NaN,NaN,85.0,9911,2231,555,0,0,NaN,NaN,423321